/* CSS Styles for the page go here
   feel free to make more in this folder */

html, body {
	font-size: 16px;
}


 .title, .input-wrapper, .word-cloud {
 	text-align: center;
 }

 .word-cloud, .input-wrapper {
 	margin: 0 auto;
 }